[submodule "Assets/Packages/eosiosigningrequestsharp"]
	path = Assets/Packages/eosiosigningrequestsharp
	url = https://github.com/liquiidio/EosioSigningRequestSharp-Private.git
[submodule "Assets/Packages/anchorlinksharp"]
	path = Assets/Packages/anchorlinksharp
	url = https://github.com/liquiidio/AnchorLinkSharp-Private
[submodule "Assets/Packages/anchorlinktransportsharp"]
	path = Assets/Packages/anchorlinktransportsharp
	url = https://github.com/liquiidio/AnchorLinkTransportSharp-Private
[submodule "Assets/Packages/atomicassetsapiclient"]
	path = Assets/Packages/atomicassetsapiclient
	url = https://github.com/liquiidio/AtomicAssetsApiClient-Private
[submodule "Assets/Packages/atomicmarketapiclient"]
	path = Assets/Packages/atomicmarketapiclient
	url = https://github.com/liquiidio/AtomicMarketApiClient-Private
[submodule "Assets/Packages/hyperionapiclient"]
	path = Assets/Packages/hyperionapiclient
	url = https://github.com/liquiidio/HyperionApiClient-Private
[submodule "Assets/Packages/eossharp"]
	path = Assets/Packages/eossharp
	url = https://github.com/liquiidio/EosSharp-Private.git
[submodule "Assets/Packages/universalauthenticatorlibrary"]
	path = Assets/Packages/universalauthenticatorlibrary
	url = https://github.com/liquiidio/UniversalAuthenticatorLibrarySharp
[submodule "Assets/Packages/wombatunitywebgl"]
	path = Assets/Packages/wombatunitywebgl
	url = https://github.com/liquiidio/WombatUnityWebGl
[submodule "Assets/Packages/wcwunitywebgl"]
	path = Assets/Packages/wcwunitywebgl
	url = https://github.com/liquiidio/WCWUnityWebGl
